.container
  .jumbotron.mt-5
    %h1 List of publications
    =link_to 'Create a new Publication', new_publication_path, class:'btn btn-primary mt-4'

  .row
    .col
      .card-columns
        - @publications.each do |publication|
          .card
            .card-body
              %h5.card-title
                = link_to publication.title, publication
              %p.card-text #{truncate(publication.description, length: 200 ,omission: '... (continued)')}
              = link_to "Read more", publication, class: 'btn btn-outline-primary btn-sm'
            .card-footer
              %small.text-muted #{time_ago_in_words(publication.created_at)} ago

      .row
        .col.mt-5
          = paginate @publications, theme: 'twitter-bootstrap-4'
