.container
  .jumbotron.m-4.mt-5
    %h1= @publication.title
    %h6= @publication.description
    - if policy(@publication).edit?
      =link_to 'Edit', edit_publication_path(@publication),  class:"btn btn-dark ml-2 mt-4"
      =link_to 'Destroy', publication_path(@publication.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-dark ml-2 mt-4"
      =link_to 'Publication Members',publication_user_publications_path(@publication.id), class:"btn btn-secondary ml-2 mt-4"
  .row
    - @publication.articles.each do |i|
      .col-md-4.p-4
        %h4= link_to i.title, i
        %p= truncate(i.body,length: 210 ,omission: '... (continued)')
        = link_to "Read more >>", i
  .row
