.container.p-5
= form_with model: @article, data: {remote: false} do |f|
  .row
    .col-md-6.offset-md-3

      - if @article.errors.full_messages.any?
        .alert.alert-danger{:role => "alert"}
          %ul
            - @article.errors.full_messages.each do |e|
              %li= e

    .col-md-6.offset-md-3


      .form-group
        = f.label :title
        = f.text_field :title, placeholder: "title here...", required: false, class: "form-control"
      .form-group
        = f.label :body
        = f.text_area :body ,placeholder: "Type your article here..",required: false, class: "form-control", rows: "10"
      - if current_user.publications.any?
        .form-group
          = f.label :publication_id
          = f.collection_select :publication_id, current_user.publications, :id, :title, {:include_blank => true}

      %div
        = f.submit class: "btn btn-success mt-2"
