
<div class="container p-5 ">
  <div class="row">
    <div class="col jumbotron mt-5">
      <h1>The Blog</h1>
      <p>Read interesting articles and signup to submit some interesting articles.</p>
      <%= link_to "Submit an Article", new_article_path, class:'btn btn-outline-primary' %>
    </div>
  </div>

  <div class="row">
    <% @articles.each do |i| %>
      <div class="col-md-4 p-3">
        <h4><%=link_to i.title, i %></h4>
        <p><%= truncate(i.body,length: 210 ,omission: '... (continued)')%></p>
        <%= link_to "Read more >>", i %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col mt-5" >
      <%= paginate @articles, theme: 'twitter-bootstrap-4'%>
    </div>
  </div>

</div>
