.container
  .jumbotron.mt-5
    %h1= @article.title
    %h4= link_to "by #{@author.full_name}", @author
    %h5= "Reading Time : #{@insight.reading_time}"
    - if @article.publication != nil
      = "Published in:"
      = link_to @article.publication.title, @article.publication
  .row
    .col
      %h6= "Likes: #{@article.likes.count}"
      - if @like.persisted?
        = link_to "Unlike", article_like_path(@like.article, @like), method: :delete, class:"btn btn-primary"
      - else
        = form_with model: [@article, @like], data: {remote: false} do |f|
          = f.submit "Like", class: "btn btn-primary"
  .row.pt-3
    .col
      .text-justify
        = simple_format @article.body
  .row
    .col
      -if policy(@article).edit?
        = link_to "Edit Article", edit_article_path, class:"btn btn-dark"
        = link_to "Delete Article", article_path(@article.id), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-dark"
      %div
      .row.mt-4
        .col
          %h5 Comments
          - @article.comments.each do |i|
            - next if i.id == nil
            .card.mb-2
              .card-body
                %h5.card-title= link_to i.user.full_name, i.user
                %h6.card-subtitle.mb-2.text-muted= "#{time_ago_in_words(i.created_at)} ago"
                %p.card-text= i.comment
                - if can_delete_comment?(i)
                  = link_to "Delete", [i.article, i], method: :delete, data: {confirm: 'Are you sure?'}
      - if user_signed_in?
        = form_with model: [@article, @comment], data: {remote: false} do |f|
          .row
            .col.mt-3
              .form-group
                = f.text_area :comment, placeholder: "comment here",required: true, class: "form-control"
              %div
                = f.submit class: "btn btn-success"
      - else
        Please
        \#{link_to "sign in", user_session_path} or
        \#{link_to "register", new_user_registration_path}
        to comment
