.container.mt-5
  .jumbotron.mt-2
    %h2= "#{@user.full_name}'s Articles"
    %h6= "Published : #{pluralize(@user.articles.count,'article')}"
  .row
    - @articles.each do |i|
      .col-md-4.p-4
        %h4= link_to i.title, i
        %p= truncate(i.body,length: 210 ,omission: '... (continued)')
        = link_to "Read more >>", i
  .row
    .col.mt-3
      = paginate @articles, param_name: "user_page", theme: 'twitter-bootstrap-4'
  .row
    .col
      %h6 Comments
  .row
    - @comments.each do |i|
      .col-md-4.p-4
        .card.mb-2
          .card-body
            %h5.card-title= i.user.full_name
            %h6.card-subtitle.mb-2.text-muted= "#{time_ago_in_words(i.created_at)} ago"
            %p.card-text= i.comment
  .row
    .col.mt-3
      = paginate @comments, param_name: "comment_page", theme: 'twitter-bootstrap-4'
  .row
    .col
      %h6 Likes
  .row
    - @likes.each do |i|
      .col-md-4.p-4
        .card.mb-2
          .card-body
            %h5.card-title= i.user.full_name
            %p
              Liked #{link_to(i.article.title, i.article)}
            %h6.card-subtitle.mb-2.text-muted= "#{time_ago_in_words(i.created_at)} ago"
  .row
    .col.mt-3
      = paginate @likes, param_name: "like_page", theme: 'twitter-bootstrap-4'
