<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You submitted an article to Anna's Awesome Blog <%= @article.title %>!</p>
    <p>
    Article Details<br>
    --------------------------
    </p>
    <p>Name: <%= @article.title %></p>
    <p>Email: <%= @article.user.email %></p>
    <p>Created at: <%= @article.created_at %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @article.body %></p>
  </body>
</html>
