!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Anna's Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |type, msg|
      %div
        = msg
    %header
      %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        %a.navbar-brand.active
          = link_to "My Blog", root_path
        %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item.active
              = link_to "Home", root_path, class: 'nav-link'
            %li.nav-item.active
              = link_to "Create a publication", new_publication_path, class: 'nav-link'
            %li.nav-item
              = link_to "Submit an Article", new_article_path, class: 'nav-link'
            - if user_signed_in?
              %li.nav-item
                = link_to "Sign out",destroy_user_session_path, :method => :delete , class: 'nav-link'
            - else
              %li.nav-item
                = link_to "Sign in", new_user_registration_path, class: 'nav-link'
    = yield
