!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Anna's Blog
    = csrf_meta_tags
    = csp_meta_tag

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/


    %link{:href => "https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    %script{:src => "https://code.jquery.com/jquery-3.5.1.slim.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
    %script{:src => "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"}

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |type, msg|
      .alert.alert-warning.m-0{:role => "alert"}
        = msg
    %header
      %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        .container
          = link_to "My Blog", root_path, class: 'navbar-brand'
          %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarCollapse.collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
              %li.nav-item
                = link_to "Home", root_path, class: 'nav-link'
              %li.nav-item
                = link_to "Create a publication", new_publication_path, class: 'nav-link'
              %li.nav-item
                = link_to "Publications", publications_path, class: 'nav-link'
              %li.nav-item
                = link_to "Submit an Article", new_article_path, class: 'nav-link'
              - if user_signed_in?
                %li.nav-item
                  = link_to "Sign out",destroy_user_session_path, :method => :delete , class: 'nav-link'
              - else
                %li.nav-item
                  = link_to "Sign in", user_session_path, class: 'nav-link '
                %li.nav-item
                  = link_to "Get Started", new_user_registration_path, class: 'nav-link btn btn-primary text-white'


    = yield
